CREATE DATABASE DEMO
GO
USE DEMO
GO

CREATE TABLE Customer (
	Id_Cust INT IDENTITY(1,1) PRIMARY KEY,
	CustName VARCHAR(255),
	CustPhone VARCHAR(255)
)

CREATE TABLE Product (
	Id_Pro INT IDENTITY(1,1) PRIMARY KEY,
	ProName VARCHAR(255),
	InStock INT,
	Price FLOAT
)


CREATE TABLE [Order] (
	Id_Order INT IDENTITY(1,1) PRIMARY KEY,
	Id_Pro INT,
	Id_Cust INT,
	DateKey VARCHAR(255),
	Quantity INT
)

ALTER TABLE [Order] ADD CONSTRAINT FK_PersonOrder FOREIGN KEY (Id_Cust) REFERENCES Customer(Id_Cust)
ALTER TABLE [Order] ADD CONSTRAINT FK_ProductOrder FOREIGN KEY (Id_Pro) REFERENCES Product(Id_Pro)